.sideImg {
    background-image: url(./images/joshua-hoehne-FOw419R-lXE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 101vh;
    padding: 0;
    margin-right: 1rem;

}

.sideBody {
    display: flex;
    align-items: center;
    position: relative;
    top: 36%;
    width: 100%;
    background-color: black;
    opacity: 0.9;
}

.logo {
    width: 50%;
}

.control {
    width: 35%;
}

.input, .textarea {
    width: 75%;
}

.headCard {
    padding: 1.5rem;
    padding-right: 13rem;
    margin-top: 8%;
    margin-bottom: 6%;
}